html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-image: url('/static/resimler/Adsıztasarım3.jpg');
    background-size: cover; /* Resmin tam olarak kaplamasını sağlar */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
    background-position: center center; /* Resmi merkeze yerleştirir */
    background-attachment: fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
    align-content: center;
}
.container {

    text-align: center;
    color: white; /* Metin rengini beyaz yapar */
}
.jumbotron {
    background: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
    padding: 20px;
    border-radius: 10px;
}
h1, p, a {
    color: white; /* Metin rengini beyaz yapar */
}
a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
