html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-image: url('/static/resimler/Adsıztasarım1.jpg');
    background-size: cover; /* Resmin tam olarak kaplamasını sağlar */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
    background-position: center center; /* Resmi merkeze yerleştirir */
    background-attachment: fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
    align-content: center;
}
.container {

    text-align: center;
    color: white; /* Metin rengini beyaz yapar */
}
.jumbotron {
    background: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
    padding: 20px;
    border-radius: 10px;
}
h1, p, a {
    color: white; /* Metin rengini beyaz yapar */
}
a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
.table{
    background-color: black;
}
.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #000;
    border-radius: 15px;
    overflow: hidden;
    border-color: white;
}
.rounded-table th, .rounded-table td {
    padding: 10px;
    border: 1px solid #ddd;
}
@media (max-width: 768px) {
            .table th, .table td {
                padding: 8px;
                font-size: 14px;
            }
}

        @media (max-width: 480px) {
            .table th, .table td {
                padding: 6px;
                font-size: 12px;
            }
            .table th, .table td {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
            .table thead {
                display: none;
            }
            .table tr {
                display: block;
                margin-bottom: 10px;
            }
            .table td {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 50%;
                position: relative;
            }
            .table td::before {
                content: attr(data-label);
                position: absolute;
                left: 10px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                font-weight: bold;
            }
        }
