{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
    <p class="lead">Kafede ders çalışmak istiyorsun ama güç ve hızı mı sorun ediyorsun?</p>
    <hr class="my-4" />
    <p>
      Doğru adestesin! Priz sayısı, internet hızı, kahve kalitesi gibi özellikleri içeren kafe koleksiyonuma bir göz at!.
    </p>
    <a
      class="btn btn-warning btn-lg"
      href="{{ url_for('cafes') }}"
      role="button"
      >Haydi Tıkla!</a
    >
  </div>
</div>

{% endblock %}
